workflows/whatsapp-webhook.json
{
  "name": "whatsapp-webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0c63c8c3-a418-4157-b00d-39ba83d44c70",
      "name": "Webhook",
      "webhookId": "ac25bbdc-1110-40b3-9027-3e7379599067"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.query[\"hub.challenge\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        -160
      ],
      "id": "a7a4f00e-bc42-4679-9df5-281f7c53216a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "705bd2e5-52b4-4eea-a920-9c20953c0ad7",
              "name": "telefono",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "143674eb-2da9-4ca5-aa44-9432485832eb",
              "name": "tipo",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "5e525093-4380-405a-aeb3-e5d6a13bebd9",
              "name": "mensaje",
              "value": "={{\n$json.body.entry[0].changes[0].value.messages[0].text?.body ||\n$json.body.entry[0].changes[0].value.messages[0].interactive?.list_reply?.id ||\n$json.body.entry[0].changes[0].value.messages[0].interactive?.button_reply?.id ||\n''\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "b437b5fe-9cd9-4b73-9bb8-81f527da8740",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4grFx6GCtkfCtebO",
          "mode": "list",
          "cachedResultUrl": "/workflow/4grFx6GCtkfCtebO",
          "cachedResultName": "whatsapp-leads-test"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $json.telefono }}",
            "tipo": "={{ $json.tipo }}",
            "mensaje": "={{ $json.mensaje }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        -160
      ],
      "id": "baacf043-f172-4546-90c3-131ef5863847",
      "name": "Call 'whatsapp-leads-test'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d53c516f-bc1b-4483-87e0-8f3546a086fb",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "d1ae5e9e-6a47-462a-8849-7df118ee1365",
      "name": "mensaje"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'whatsapp-leads-test'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensaje": {
      "main": [
        [
          {
            "node": "Call 'whatsapp-leads-test'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6b59b383-2060-43ec-baf3-8463d33d85fe",
  "meta": {
    "instanceId": "bf168903a33cfec42ff3ec307c6b8d46610847bf94dc4be799c84e8be60878c0"
  },
  "id": "hqkg7XY6QQRbUixD",
  "tags": []
}